.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon_arrow-down {
  font-size:(8/10)*1rem;
  width:(12/8)*1em;
}
.icon_arrow-right {
  font-size:(12/10)*1rem;
  width:(24/12)*1em;
}
.icon_arrow-right-2 {
  font-size:(24/10)*1rem;
  width:(14/24)*1em;
}
.icon_check {
  font-size:(17/10)*1rem;
  width:(24/17)*1em;
}
.icon_click {
  font-size:(30/10)*1rem;
  width:(24/30)*1em;
}
.icon_close {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon_download {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_facebook {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon_file {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_file-add {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_file-xls {
  font-size:(20/10)*1rem;
  width:(18/20)*1em;
}
.icon_instagram {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon_mail {
  font-size:(18/10)*1rem;
  width:(24/18)*1em;
}
.icon_metro {
  font-size:(48/10)*1rem;
  width:(40/48)*1em;
}
.icon_phone {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon_plus {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon_price-label {
  font-size:(36/10)*1rem;
  width:(28/36)*1em;
}
.icon_question {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon_registration {
  font-size:(26/10)*1rem;
  width:(30/26)*1em;
}
.icon_search {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon_shield {
  font-size:(50/10)*1rem;
  width:(50/50)*1em;
}
.icon_shop {
  font-size:(45/10)*1rem;
  width:(45/45)*1em;
}
.icon_special {
  font-size:(50/10)*1rem;
  width:(50/50)*1em;
}
.icon_truck {
  font-size:(50/10)*1rem;
  width:(50/50)*1em;
}
.icon_user {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon_vk {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon_warning {
  font-size:(25/10)*1rem;
  width:(25/25)*1em;
}
