
.well-block{ padding: 30px 30px 25px; background: $white; border-radius: 10px; @include time(); box-shadow: 4px 4px 23px rgba(113, 159, 163, 0.14); height: 100%;
	ul, ol, p:not(.well-block__title){ margin-bottom: 24px;
		&:last-child{ margin-bottom: 0; }
	}

	&__title{ margin-bottom: 30px; color: $green;  padding: 3px 9px 16px; border-bottom: 2px rgba($gray-devider,.6) solid; text-transform: uppercase;  }
	&__edit{ color: $blue-dark; font: bold 15px $baseFF;  
		&.hide{ display: none;  }
	}
	&__bottom{ text-align: right; margin-top: 20px; }  


	&--profile{ padding: 35px 30px 25px; @include flex(0,center,center,nowrap); background: $bg-directory; box-shadow: none; }
	&--profile &{
		&__name{ color: $green; margin-bottom: 15px; margin-top: 35px;  }
		&__params{  
			&-item{ margin-bottom: 10px;  
				&:last-child{ margin-bottom: 0; } 
			}
			&-more{ 
				a{ color: $form-blue; }
			}
		}
		&__avatar{  margin-right: 35px; flex: 0 0 auto;
	      img{ border-radius: 50%; object-fit: cover; width: 179px; height: 179px; margin: 0 auto; display: block; } 
	      &-load{ margin-top: 10px; text-align: center; color: $blue-dark; font: 10px/14px $baseFF; }
	    }
	    &__wrap{ flex: 1 1 auto; /* @include flex(space-between,stretch,stretch,nowrap,column); */  }
	    &__bottom{  margin-top: 40px; }
	    
	}

	&--orders{ @include flex(space-between,stretch,stretch,nowrap,column);  }
	&--orders &{
		&__row{ margin-bottom: 25px; 
			&:last-child{ margin-bottom: 0;  }
		}
		&__list{ flex: 1 1 auto;  }
		&__bottom{ margin-top: 30px; } 
	}

	&--discount &{
		&__row{ margin-bottom: -20px; 
			&-item{ margin-bottom: 20px; }
			&-label{ margin-bottom: 20px;  }

		}
	}

	&--discount-2 &{
		&__row{ margin-bottom: -20px; 
			&-item{ margin-bottom: 20px; }
			&-label{ margin-bottom: 15px; color: $blue-dark; font: 600 20px/26px $baseFF; }
			&-discount{ color: $green; font: 700 40px $baseFF; 
				&--blue{ color: $form-blue;  }
			}

		}
	}
	
	&--pay{ @include flex(0,stretch,stretch,nowrap,column); }
	&--pay &{
		&__text{ color: $gray;  flex: 1 1 auto; }
	}

	&--doc{ padding: 22px 40px;  }

	&--order-info{ padding: 24px 30px; }
	&--order-info &{
		&__number{ font-weight: bold; color: $blue-dark; flex: 0 0 22%; max-width: 22%; } 
		&__date{ text-align: center; flex: 0 0 24%; max-width: 24%; }
		&__price{ text-align: center; flex: 0 0 24%; max-width: 24%; } 
		&__status{ flex: 0 0 30%; max-width: 30%; } 

	}

	@include media($lg){ 

	}
	@include media($md){ 
		&--profile{ padding: 25px 20px 20px; }
		&--profile &{
			&__name{ margin-top: 25px;  }
			&__avatar{  margin-right: 20px; 
		      img{ width: 120px; height: 120px; }
		    }
		    &__bottom{  margin-top: 20px; }
		    
		}

		&--orders &{
			&__row{ margin-bottom: 20px; 
				&:last-child{ margin-bottom: 0;  }
			}
			&__bottom{ margin-top: 20px; } 
		}		

		&--doc{ padding: 15px 30px;  }
	}

	@include media($sm){
		
	}

	@include media($xs){ padding: 20px;
		&__title{ margin-bottom: 20px; padding: 0 0 10px; }  
		&__edit{  font: bold 14px $baseFF; } 

		&--profile{ padding: 20px 20px; display: block;  }
		&--profile &{
			&__name{ margin-top: 25px;  }
			&__avatar{  margin-right: 0; 
		      img{ width: 120px; height: 120px; }
		    }
		    &__bottom{  margin-top: 20px; }
		    
		}

		&--doc{ padding: 15px 20px;  }

		&--discount &{
			&__row{ 
				&-label{ margin-bottom: 10px;  }  

			}
		}

		&--discount-2 &{
			&__row{ 
				&-label{ margin-bottom: 10px; font: 600 18px/24px $baseFF; }
				&-discount{ font: 700 30px $baseFF;  }

			}
		}
	}

	@include media($xxs){
		
	}
}