
mixin newsBlock(data)
	.news-block&attributes(attributes)
		._img
			a(href="#")
				if data.img
					+webp(data.img)
				else
					img(src="images/no-img.svg" alt="") 
		._wrap
			._title
				a(href="#")
					!= data.title
			._date
				!= data.date
			._text
				!= data.text

mixin newsBlockHorisontal(data)
	.news-block.-horisontal&attributes(attributes)
		._img
			a(href="#")
				if data.img
					+webp(data.img)
				else
					img(src="images/no-img.svg" alt="")
		._wrap
			._title
				a(href="#")
					!= data.title
			._date
				!= data.date
			._text
				!= data.text
			._buttons
				a.btn.-border(href="#") Читать полностью

