
.stars{ position: relative; z-index: 1; width: 106px;
	&__off{ @include flex(0,0,0,nowrap); position: relative; z-index: 0;
			svg{ fill: none; stroke: #c3c3c3; stroke-width: 2px; width: 18px; height: 18px; margin-right: 4px; flex: 0 0 18px; max-width: 18px;
				&:last-child{ margin: 0; }
			}
	}
	&__on{ @include flex(0,0,0,nowrap); position: absolute; top: 0; left: 0; width: 100%; overflow: hidden;
			svg{ fill: $yellow; width: 18px; height: 18px; margin-right: 4px; flex: 0 0 18px; max-width: 18px;
				&:last-child{ margin: 0; }
			}
	}

	&--sm{ width: 86px;  }
	&--sm &{
		&__off{ 
			svg{ width: 14px; height: 14px; flex: 0 0 14px; max-width: 14px; }
		}
		&__on{ 
			svg{ width: 14px; height: 14px; flex: 0 0 14px; max-width: 14px; }
		}
	}

	&--xs{ width: 68px; }
	&--xs &{
		&__off{ 
			svg{ width: 12px; height: 12px; flex: 0 0 12px; max-width: 12px;  margin-right: 2px; }
		}
		&__on{ 
			svg{ width: 12px; height: 12px; flex: 0 0 12px; max-width: 12px;  margin-right: 2px; }
		}
	}

	@include media($md){ width: 86px; 
		&__off{ 
			svg{ width: 14px; height: 14px; flex: 0 0 14px; max-width: 14px; }
		}
		&__on{ 
			svg{ width: 14px; height: 14px; flex: 0 0 14px; max-width: 14px; }
		}
	}

	@include media($xs){ width: 68px; 
		&__off{ 
			svg{ width: 12px; height: 12px; flex: 0 0 12px; max-width: 12px;  margin-right: 2px; }
		}
		&__on{ 
			svg{ width: 12px; height: 12px; flex: 0 0 12px; max-width: 12px;  margin-right: 2px; }
		}
	}
}