.popup {
  display: none;
  background: #FFF;
  max-width: 100%;
  border-radius: 5px;

  &__title{ @include flex(0,center,center,nowrap); margin: 0 0 20px;
    svg{ fill: $yellow-light; font-size: 16px; margin-right: 10px; }
  }

  &--choice-city {
    width: 925px;
    padding: 70px 160px 215px;
    form {
      //margin-top: 100px;
      position: relative;
    }
  }
  &--choice-city &{
    &__title{ margin-bottom: 95px; }
  }

  &--login {
    width: 925px;
    padding: 70px 160px 215px;
    .tabs-head {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        border-bottom: 1px solid #EDEDED;
        li {
          width: 50%;
          &.is-active {
            a {
              color: $baseFClr;
              border-bottom-color: $yellow;
            }
          }
          a {
            display: block;
            margin-bottom: -1px;
            color: $gray;
            border-bottom: 2px solid transparent;
            text-align: center;
            padding: 13px;
            &:hover {
              color: $baseFClr;
            }
          }
        }
      }

    }
  }
}
.fancybox-is-open .fancybox-bg {
  opacity: 1;
  background: rgba(#000, 0.5);
}
.ui-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #F2F2F2;
  border-radius: 0 5px 5px;
  padding: 25px;
  margin: 0;
  list-style-type: none;
  font-size: 15px;
  max-height: 215px;
  overflow-x: hidden;
  overflow-y: auto;
  li {
    padding: 5px 0;
    &:first-child {
      padding-top: 0;
    }
  }
}
