extends extends/base.pug
append vars
	- var pageUrl = 'delivery.html';
	- var pageTitle = '.main-section__';
	- var classBody = 'delivery-page';
	- var headerBg = 'images/main-banner.jpg';
block styles
	
block content
	include ../components/main-section/template
	include ../components/accardion-block/template
	+mainSection({
		bread: [{url: '#', title: 'Вопросы и ответы'}]
	}).main-section--delivery
		h1.main-section__title распространенные вопросы и ответы
		
		+accardionBlock([{ 
					title: 'В какие регионы вы доставляте заказы?',
					text: '<p>Информацию по вашему заказу вы можете узнать в личном кабинете. Если вы не получили нужную информацию, наш колл-центр с радостью поможет вам разобраться с этим, а также со всеми интересующими вас вопросами.</p>'
				},{
					title: 'Какие условия доставки в вашем магазине?',
					text: '<p>Информацию по вашему заказу вы можете узнать в личном кабинете. Если вы не получили нужную информацию, наш колл-центр с радостью поможет вам разобраться с этим, а также со всеми интересующими вас вопросами.</p>'
				},{
					title: 'Как узнать, что с моим заказом?',
					text: '<p>Информацию по вашему заказу вы можете узнать в личном кабинете. Если вы не получили нужную информацию, наш колл-центр с радостью поможет вам разобраться с этим, а также со всеми интересующими вас вопросами.</p><p>Информацию по вашему заказу вы можете узнать в личном кабинете. Если вы не получили нужную информацию, наш колл-центр с радостью поможет вам разобраться с этим, а также со всеми интересующими вас вопросами.</p>'
				},{
					title: 'Есть ли у вас сезонные акции и распродажи?',
					text: '<p>Информацию по вашему заказу вы можете узнать в личном кабинете. Если вы не получили нужную информацию, наш колл-центр с радостью поможет вам разобраться с этим, а также со всеми интересующими вас вопросами.</p><p>Информацию по вашему заказу вы можете узнать в личном кабинете. Если вы не получили нужную информацию, наш колл-центр с радостью поможет вам разобраться с этим, а также со всеми интересующими вас вопросами.</p><p>Информацию по вашему заказу вы можете узнать в личном кабинете. Если вы не получили нужную информацию, наш колл-центр с радостью поможет вам разобраться с этим, а также со всеми интересующими вас вопросами.</p>'
				},{
					title: 'Как я могу оплатить товар?',
					text: '<p>Информацию по вашему заказу вы можете узнать в личном кабинете. Если вы не получили нужную информацию, наш колл-центр с радостью поможет вам разобраться с этим, а также со всеми интересующими вас вопросами.</p>'
				},{
					title: 'Какие гарантии на товар вы предоставляете?',
					text: '<p>Информацию по вашему заказу вы можете узнать в личном кабинете. Если вы не получили нужную информацию, наш колл-центр с радостью поможет вам разобраться с этим, а также со всеми интересующими вас вопросами.</p>'
				}]).accardion-block--white
	

	include ../components/footer/template  
	+footer()    

	//- +gridLayout() 

block scripts 
