
mixin bannerBlockDelivery(data)
	.banner-block.-delivery&attributes(attributes)
		img(src="images/banner-delivery-img.svg")._img
		._wrap
			._title.title-h3 бесплатная доставка при заказе от 100 000 рублей!
			._text по Москве, ближнему Подмосковью и до ТК