include ../subscribe-block/template
include ../accardion-block/template
include ../form-block/template

mixin faqSection(data)
	.faq-section&attributes(attributes)
		._container.container
			+subscribeBlock()._subscribe
			hr._hr
			._faq
				._faq-title.title-h3 вопросы и ответы
				+accardionBlock([{ 
					title: 'В какие регионы вы доставляте заказы?',
					text: '<p>Информацию по вашему заказу вы можете узнать в личном кабинете. Если вы не получили нужную информацию, наш колл-центр с радостью поможет вам разобраться с этим, а также со всеми интересующими вас вопросами.</p>'
				},{
					title: 'Какие условия доставки в вашем магазине?',
					text: '<p>Информацию по вашему заказу вы можете узнать в личном кабинете. Если вы не получили нужную информацию, наш колл-центр с радостью поможет вам разобраться с этим, а также со всеми интересующими вас вопросами.</p>'
				},{
					title: 'Как узнать, что с моим заказом?',
					text: '<p>Информацию по вашему заказу вы можете узнать в личном кабинете. Если вы не получили нужную информацию, наш колл-центр с радостью поможет вам разобраться с этим, а также со всеми интересующими вас вопросами.</p><p>Информацию по вашему заказу вы можете узнать в личном кабинете. Если вы не получили нужную информацию, наш колл-центр с радостью поможет вам разобраться с этим, а также со всеми интересующими вас вопросами.</p>'
				},{
					title: 'Есть ли у вас сезонные акции и распродажи?',
					text: '<p>Информацию по вашему заказу вы можете узнать в личном кабинете. Если вы не получили нужную информацию, наш колл-центр с радостью поможет вам разобраться с этим, а также со всеми интересующими вас вопросами.</p><p>Информацию по вашему заказу вы можете узнать в личном кабинете. Если вы не получили нужную информацию, наш колл-центр с радостью поможет вам разобраться с этим, а также со всеми интересующими вас вопросами.</p><p>Информацию по вашему заказу вы можете узнать в личном кабинете. Если вы не получили нужную информацию, наш колл-центр с радостью поможет вам разобраться с этим, а также со всеми интересующими вас вопросами.</p>'
				},{
					title: 'Как я могу оплатить товар?',
					text: '<p>Информацию по вашему заказу вы можете узнать в личном кабинете. Если вы не получили нужную информацию, наш колл-центр с радостью поможет вам разобраться с этим, а также со всеми интересующими вас вопросами.</p>'
				},{
					title: 'Какие гарантии на товар вы предоставляете?',
					text: '<p>Информацию по вашему заказу вы можете узнать в личном кабинете. Если вы не получили нужную информацию, наш колл-центр с радостью поможет вам разобраться с этим, а также со всеми интересующими вас вопросами.</p>'
				}])

			+formBlockContacts()._form  
			
