
.tabs{
	&__nav{list-style: none;  @include flex(); flex-wrap: nowrap; 
		&-item{display: inline-block; font: bold 13px/1 $family;  position: relative; text-align: center; margin-right: 90px; color: $black; padding: 0 10px 30px 10px; text-transform: uppercase; @include transition(); white-space: nowrap;
			&:last-child{ margin-left: 0; }
			&:after{content: ""; display: block; width: 0%; height: 3px; background: $yellow; position: absolute; bottom: 0; left: 50%; @include transition(); }
			a{ text-decoration: none; color: $black; display: block; } 
			
			&.is-active, &:hover{ color: $black; 
				&:after{ width: 100%; left: 0;} 
			}
			//&.active{ font-weight: 800; }
		}

		&--pt{ 
			.tabs__nav-item{ padding-top: 30px; } 
		}

		&--border-bottom{ border-bottom: 1px #efefef solid; 
			.tabs__nav-item{ margin-bottom: -1px;  } 
		}
		&--around{ @include flex(space-around,center,center,nowrap); }
		&--around &{ 
			&-item{ margin-left: 0; margin-right: 0; white-space: nowrap;  }
		}
 
		&--center{ @include flex(center,center,center,nowrap); }
		&--center &{ 
			&-item{ margin: 0 2rem; }
		}
	}

	&__body{ visibility: hidden; pointer-events: none; opacity: 0; @include time(0s, opacity); position: absolute; left: -8888px; top: 0;
		&.is-active, &.is-visible{display: block; visibility: visible; opacity: 1; pointer-events: auto; position: relative; left: 0; }
	}   

	@include media($xs){  
		&__nav{ overflow-x: auto; 
			&-item{ font: bold 12px/16px $baseFF; padding: 15px 0; @include flex(center,center,center); margin-right: 30px; }

			&--around{ @include flex(flex-start,center,center,nowrap); }
			&--around &{ 
				&-item{ margin-left: 0; margin-right: 40px; white-space: nowrap;  }
			}
		}
	}
}

.tab-nav-select{ display: none; }



