
mixin uploadBlockMinimal(data)
	.upload-block.-inline.js-files-form&attributes(attributes)
		input(type="file" name="files[]" id="upload-file__input_1" class="js-file-input" accept=".jpg, .jpeg, .png, .svg"  multiple)
		
		//- ._result.js-files-list
				//- ._list-item Иванов.jpg
				//- 	span 1.29 Мб
				//- 	a(href="#") 
				//- 		+svg('close')
		+svg('file-add')._icon
		._title Прикрепить файл
		

mixin uploadBlockDefault(data)
	.upload-block.js-files-form&attributes(attributes)
		input(type="file" name="files[]" id="upload-file__input_1" class="js-file-input" accept=".jpg, .jpeg, .png, .svg"  multiple)
		._img
			img(src=data.img, alt="")
		._wrap
			._result.js-files-list
				//- ._list-item Иванов.jpg
				//- 	span 1.29 Мб
				//- 	a(href="#") 
				//- 		+svg('close')
			if data.subtitle != undefined
				._subtitle
					!= data.subtitle
			if data.title != undefined
				._title
					!= data.title
			if data.desc != undefined
				._text
					!= data.desc

mixin uploadBlock(data)
	.upload-block.js-files-form&attributes(attributes)
		input(type="file" name="files[]" id="upload-file__input_1" class="js-file-input" accept=".jpg, .jpeg, .png, .svg"  multiple)
		._img
			img(src="images/add-photo.png", alt="")
		._wrap
			._result.js-files-list
				//- ._list-item Иванов.jpg
				//- 	span 1.29 Мб
				//- 	a(href="#") 
				//- 		+svg('close')
			._title + Добавить изображение
			._text Размер  изображения не меньше 940 px Х 561 px<br> Допустимые форматы: jpg, png, svg

mixin uploadBlockLogo(data)
	.upload-block.-stretch.js-files-form&attributes(attributes)
		input(type="file" name="files[]" id="upload-file__input_1" class="js-file-input" accept=".jpg, .jpeg, .png, .svg")
		._img
			img(src="images/logo-big.png", alt="")
		._wrap
			._title Выбрать файл
			._result.js-files-list
				//- ._list-item Иванов.jpg
				//- 	span 1.29 Мб
				//- 	a(href="#") 
				//- 		+svg('close')
			._text Размер изображения не меньше 940 px Х 561 px<br> Допустимые форматы: PNG, JPG, SVG

mixin uploadBlockVideo(data)
	.upload-block.-stretch.js-files-form&attributes(attributes)
		input(type="file" name="files[]" id="upload-file__input_1" class="js-file-input" accept=".avi, .mpg, .mov")
		._img
			img(src="images/add-photo.png", alt="")
		._wrap
			._title Выбрать файл видео
			._result.js-files-list
				//- ._list-item Иванов.jpg
				//- 	span 1.29 Мб
				//- 	a(href="#") 
				//- 		+svg('close')
			._text Размер видео не меньше 940 px Х 561 px<br> Допустимые форматы: avi, mpg, mov

mixin uploadBlockThumb(data)
	.upload-block.-stretch.js-files-form&attributes(attributes)
		input(type="file" name="files[]" id="upload-file__input_1" class="js-file-input" accept=".jpg, .jpeg, .png, .svg")
		._img
			img(src="images/add-photo.png", alt="")
		._wrap
			._title Выбрать изображение для превью
			._result.js-files-list
				//- ._list-item Иванов.jpg
				//- 	span 1.29 Мб
				//- 	a(href="#") 
				//- 		+svg('close')
			._text Размер изображения не меньше 940 px Х 561 px<br> Допустимые форматы: PNG, JPG, SVG

mixin uploadBlockComment(data)
	.upload-block.-inline.js-files-form&attributes(attributes)
		input(type="file" name="files[]" id="upload-file__input_1" class="js-file-input" accept=".jpg, .jpeg, .png")
		._result.js-files-list
				//- ._list-item Иванов.jpg
				//- 	span 1.29 Мб
				//- 	a(href="#") 
				//- 		+svg('close')
		._wrap
			._title + выбрать изображение
			._text JPG, PNG, размер 300х300, не более 2 Мб

mixin uploadBlockFile(data)
	.upload-block.-default.js-files-form&attributes(attributes)
		input(type="file" name="files[]" id="upload-file__input_1" class="js-file-input" accept=".jpg, .png, .xsl")
		._block
			._icon
				+svg('plus')
			._wrap
				._title Добавьте файлы заказа xsl
				._text Или перетащить в эту область
			._desc Не более 10 файлов
		._result.js-files-list
				//- ._result-item
				//- 	+svg('file-xls')._result-icon
				//- 	span catalog_vodnye
				//- 	a._result-close(href="#")
				//- 		+svg('close')
				