
mixin aboutSection(data)
	.about-section&attributes(attributes)
		._container.container
			._row.row
				._left.col-4.col-xs-12
					._title Работаем<br> с 1996 года
					._buttons
						a._more(href="#") 
							span О нас
							+svg('arrow-right')
				._text.col-8.col-xs-12
					p «МИР УВЛЕЧЕНИЙ» – это зарекомендовавшее себя имя на российском рынке товаров для сада с 1996 года. История «МИРА УВЛЕЧЕНИЙ» началась более 20 лет назад, когда гостеприимно распахнул свои двери первый магазин в Москве, а жителям других населенных пунктов были разосланы первые каталоги для заказа садоводческих товаров по почте.
					p В 2001 году мы стали еще доступнее благодаря открытию интернет-магазина, в котором вы сейчас находитесь.