
mixin iconInline(data)
	.icon-inline&attributes(attributes)
		._icon
			+svg(data.icon)
		._wrap
			!= data.text

mixin iconInlineLogin(data)
	.icon-inline&attributes(attributes)
		._icon
			+svg('user')
		._wrap.-login
			a.js-popup-show(href="#popup-login") Вход
			span |
			a.js-popup-show(href="#popup-registration-1") Регистрация

mixin iconInlinePhone(data)
	.icon-inline&attributes(attributes)
		._icon
			+svg('phone')
		._wrap
			a._phone(href="tel:+74957348088") +7 (495) 734-80-88
			p Пн–Пт 09:00–18:00