
.gallery-block{ position: relative;
	&__main{ 
		&-item{
			img{ border-radius: 5px; }

		}
	}
	&__thumb{ padding: 0 55px; position: relative; margin-top: 15px;
		&-prev{ position: absolute; top: 50%; left: 0; transform: translateY(-50%); }
		&-next{ position: absolute; top: 50%; right: 0; transform: translateY(-50%); }
		&-item{ margin: 0 10px; 
			img{ display: block; border: 2px #ededed solid; border-radius: 4px;   }

			&.slick-current{
				img{ border-color: $yellow; }
			}
		}
	}
}