
mixin galleryBlock(data)
	.gallery-block&attributes(attributes)
		._main.js-gallery-main
							._main-item
								+webp('images/gallery-img-1.jpg')
							._main-item
								+webp('images/gallery-img-1.jpg')
							._main-item
								+webp('images/gallery-img-1.jpg')
							._main-item
								+webp('images/gallery-img-1.jpg')
							._main-item
								+webp('images/gallery-img-1.jpg')
							._main-item
								+webp('images/gallery-img-1.jpg')
							._main-item
								+webp('images/gallery-img-1.jpg')
							._main-item
								+webp('images/gallery-img-1.jpg')

		._thumb.js-gallery-thumb
							._thumb-item
								+webp('images/gallery-img-1.jpg')
							._thumb-item
								+webp('images/gallery-img-1.jpg')
							._thumb-item
								+webp('images/gallery-img-1.jpg')
							._thumb-item
								+webp('images/gallery-img-1.jpg')
							._thumb-item
								+webp('images/gallery-img-1.jpg')
							._thumb-item
								+webp('images/gallery-img-1.jpg')
							._thumb-item
								+webp('images/gallery-img-1.jpg')
							._thumb-item
								+webp('images/gallery-img-1.jpg')