
mixin productBlock(data)
	.product-block&attributes(attributes)
		._img
			a(href="#")
				img(src="images/product-img-1.jpg", alt="")
		._wrap
			._title Спирея Широбана японская
			._button
				a.btn.-only-icon.-yellow(href="#")
					include ../../images/info.svg