
mixin indexSection(data)
	section.index-section&attributes(attributes)
		._img
			+webp("images/index-section-img.jpg")
		._wrapper
			._container.container
				._title.title-h1 У нас есть всё,<br> что нужно<br> для сада<br> и огорода
				._buttons
					a.btn.btn--yellow.js-popup-show(href="#popup-info-product") Смотреть каталоги